@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;

    background: #010413;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Oswald', sans-serif;
}

/* bootstrap rewrite */
.btn {
    transition: none !important;
    border: 0 !important;
    border-color: #F40086;
    font-family: 'Oswald', sans-serif;
    border-radius: 30px;
    font-weight: 700;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f40086+0,ce007f+100 */
    background: #f40086;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f40086 0%, #ce007f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f40086 0%, #ce007f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f40086 0%, #ce007f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f40086', endColorstr='#ce007f', GradientType=0);
    /* IE6-9 */
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .3), 0px -1px 0px rgba(0, 0, 0, .7);
}

.btn:hover {
    background: #450033 !important;
}

.btn-blue{
    background: rgb(0,169,253);
    background: -moz-linear-gradient(180deg, rgba(0,169,253,1) 0%, rgba(0,121,219,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(0,169,253,1) 0%, rgba(0,121,219,1) 100%);
    background: linear-gradient(180deg, rgba(0,169,253,1) 0%, rgba(0,121,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00a9fd",endColorstr="#0079db",GradientType=1);
}
.btn-blue:hover{
    background: rgb(1, 95, 143) !important;
}

.bg-dark {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f40086+0,ce007f+100 */
    background: #f40086 !important;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f40086 0%, #ce007f 100%) !important;
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f40086 0%, #ce007f 100%) !important;
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f40086 0%, #ce007f 100%) !important;
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f40086', endColorstr='#ce007f', GradientType=0);
    /* IE6-9 */

}

/* bootstrap rewrite END */


/* utilities */
section {
    margin: 0 0 50px 0;
}

/* utilities END */

/* navbar */
header{
    position: fixed;
    width: 100%;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f40086+0,ce007f+100 */
        background: #f40086 !important;
        /* Old browsers */
        background: -moz-linear-gradient(top, #f40086 0%, #ce007f 100%) !important;
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #f40086 0%, #ce007f 100%) !important;
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #f40086 0%, #ce007f 100%) !important;
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f40086', endColorstr='#ce007f', GradientType=0);
        /* IE6-9 */
}
header a{
    font-family: 'Oswald', sans-serif;
    color: white;
    text-transform: uppercase;
}
header .separator{
    background-color: #fff;
    width: 1px;
    height: 16px;
}
@media (min-width: 576px){
    header a{
        color: white !important;
    }
    header a:hover{
        color: #fa7fc3 !important;
    }
}
/* navbar END */

/* jumbotron */
.jumbotron{
    padding-top: 60px;
    height: 100vh;
    background-image: url(../img/fsbg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron h1{
    text-align: center!important;
    margin-bottom: 3rem!important;
    text-shadow: 1px 2px black;
}
/* jumbotron END */

/* promocode */
.promocode{
    border-radius: 30px;
    overflow: hidden;
    width: 700px;
    height: 200px;
}
.promocode .code{
    width: 60%;
    height: 100%;
    background-color: #fff;
    font-size: 50px;
    color: #f40086;
    font-family: 'Oswald', sans-serif;
}
.promocode .buttons{
    width: 40%;
    height: 100%;
}
.promocode .buttons .btn{
    width: 100%;
    height: 50%;
    border-radius: 0 !important;
}
@media (max-width: 576px){
    .promocode{
        width: 100%;
    }
    .promocode .buttons .btn{
        font-size: 15px;
    }
}
/* promocode END */


/* text-block */
.text-block .wrapper {
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
}

.text-block .header {
    padding: 30px;
    background: #f40086;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f40086 0%, #ce007f 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f40086 0%, #ce007f 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f40086 0%, #ce007f 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f40086', endColorstr='#ce007f', GradientType=0);
    /* IE6-9 */
    text-shadow: 0px 1px 0px rgba(255, 255, 255, .3), 0px -1px 0px rgba(0, 0, 0, .7);
}

.text-block .header h2 {
    margin: 0;
}

.text-block .btn {
    border-radius: 0;
    border: 0;
    height: 100px;
    font-size: 32px;
}

.text-block .content {
    color: #222222;
    font-size: 20px;
    padding: 30px 0 0 0;
}
.text-block .content h2{
    padding: 0 0 0 30px;
}
.text-block .content img:not(:last-child){
    margin: 0 0 30px 0;
}
.text-block .content .btn{
    border-radius: 30px;
    height: auto;
    padding: .375rem 30px;
    margin: 0 0 30px 30px;
}
.text-block p {
    color: #222222;
    font-size: 20px;
    padding: 0 30px;
    margin: 0 0 30px 0;
}

.text-block__nav{

}


/* text-block END */

/* app-dowload */
.app-dowload {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.link {}

.app-dowload__gp img {
    width: 272px;
    margin-bottom: 4px;
}

/* app-dowload END */

/* footer */
footer {
    min-height: 300px;
    background-color: #222222;
    color: white;
    padding: 40px 0 0 0;
}

footer .logos-block img {
    margin: 9px;
}

footer .app-dowload {
    justify-content: start;
    margin: 0 0 0 -21px;
}

footer .link img {
    width: 150px;
}

footer .app-dowload__gp {}

/* footer END */
